@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css";
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
}

.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/bg1.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.container
{                                   
    width: 320px;
    height: 400px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 70px 30px;
    border-radius: 12px;
    background:rgb(245, 243, 242);
    color: rgb(14, 12, 12);
    position:absolute;
    top: 35%;
    left:50%;
    transform: translate(-50%,-50%);
    box-sizing:border-box;
    align-content: center;
    justify-content: center;
    margin-top:100px;
}
